.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal code {
  background-color: #e0e0e0;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

.reveal pre code {
  background-color: #e0e0e0;
  display: block;
  padding: 1em;
  border-radius: 4px;
  overflow: auto;
}
